*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: beige;
  padding: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

nav > h3 {
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#post-body {
  margin-bottom: .5rem;
}

.posts {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem;
}